@media (max-width: 480px){

  /* temporary search bar css */
/* .form-outline{
	width: 150px;
} */

.fa-search{
  text-align: center;
  padding: 0px 15px 0px 15px;
}

/* user icon dropdown */
.dropdown-menu{
  font-size: 15px;
}

.dropdown-menu[data-bs-popper] {
  margin-left: -30px;
  margin-top: 15px;
}

.dropdown-toggle::after {
  color: white;
}

.fa-user{
  color: white;
}

  .button-margin{
    margin: 5px;
  }

    .logo{
        width: 150px;
        padding: 10px;
        margin-top: 0px;
        margin-left: 20px;
        background: #ffffff;
    }

    h3{
      font-size: 23px;
    }

    h4{
      font-size: 15px;
    }

    .navbar-toggler{
        display: block;
        color: white;
        margin: 10px 20px 0px 0px;
    }

    .mobile-menu{
      background-color: black;
      text-align: center;
      padding-bottom: 30px;
    }

    .icons-margin{
      margin-top: 10px;
      margin-left: 40px;
    }

    .add-to-cart-button{
        width: 120px;
        font-size: 15px;
        font-weight: normal;
        border-radius:10px;
    }

    .see-more-button
    {
        margin-top: 0px;
    }

    .text_padding
    {
        padding: 10px 0px 10px;
    }

    .see-more-button
    {
        font-size:18px;
        width:150px;
        height:40px;
        border-radius:10px;
        color: black;
        margin: 30px 0px 20px;
        background-color: white;
    }

    .footer_text
    {
        font-size:13px;
        color: white;
    }

    .nav-link{
      font-weight: bold;
    }

    .icon-spacing{
      padding-right: 0px;
    }

    a{
        font-size: larger;
        /* text-align: center; */
    }

    a:hover{
      color: white;
    }
    

    .fa-search{
      color: white;
      margin-left: -20px;
    }

    
    /* user page */
    .h1{
        font-size: 25px;
    }

    .register-link{
        font-size: 15px;
    }

    .footer-margin-create-account{
        margin-top: 0px;
    }

    /* cart page */
    .carts-button{
        margin-top: 20px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
  h3{
    font-size: 30px;
  }

  .button-margin{
    margin: 5px;
  }

  h4{
    font-size: 19px;
  }

  .remove-padding{
    padding: 0px;
  }

  .add-to-cart-button
{
	font-size:16px;
	color:white;
	background-color: black;
	font-weight:bold;
	border: none;
	width:auto;
   /* height:37px; */
   border-radius:10px;
}

.add-to-cart-button:hover
{
	font-size:16px;
	color:orange;
	background-color: black;
	font-weight:bold;
	border: none;
	width: auto;
   /* height:37px; */
   border-radius:10px;
}
  
}


@media (min-width: 768px) and (max-width: 1024px){
  .nav-link{
    color: orange;
  }

  .add-to-cart-button
  {
    font-size:16px;
    color:white;
    background-color: black;
    font-weight:bold;
    border: none;
    width:auto;
     border-radius:10px;
  }

  .add-to-cart-button:hover
{
	font-size:16px;
	color:orange;
	background-color: black;
	font-weight:bold;
	border: none;
	width: auto;
   /* height:37px; */
   border-radius:10px;
}

  h4{
    font-size: 14px;
  }

  .remove-padding{
    padding: 0px;
  }

  .navbar-toggler{
    display: block;
    color: white;
}

.mobile-menu{
  background-color: black;
  text-align: center;
  padding-bottom: 30px;
}

.icons-margin{
	margin-top: 20px;
	margin-left: 230px;
  text-align: center;
}

.button-margin{
  margin: 5px;
}

/* user icon dropdown */
.dropdown-menu{
  font-size: 15px;
}

.dropdown-menu[data-bs-popper] {
  margin-left: -30px;
  margin-top: 15px;
}

.dropdown-toggle::after {
  color: white;
}

.fa-user{
  color: white;
}

  
}
